<div class="game_card">
  <h2>{{name}}</h2>
  <img src="{{images.medium}}" alt="Cover picture of {{name}}">
{{#if owned}}
{{!--  --}}
<form action="/delete_game/{{../user._id}}" method="post">
   <button type='submit'>Delete from my games</button>
  </form>
{{else}}
<form action="/add_game/{{id}}" method="post">
  <button type="submit">Add to my games</button>
</form>
{{/if}}
  <p>Time: {{min_playtime}}-{{max_playtime}}</p>
  <p>Players: {{min_players}}-{{max_players}}</p>
  <p>Minimum age: {{min_age}}</p>
  <p>Description: {{description}}</p>
  <p>Price: ${{price}}</p>
  <p>Average user rating: {{average_user_rating}}</p>
  <p>Number of user ratings: {{num_user_ratings}}</p>
  {{#if video}}
  <a href="{{video}}">Click here to watch video</a>
  {{/if}}
</div>