<div class="game_card">
  <div class="title_pic">
    <img src="{{images.medium}}" alt="Cover picture of {{name}}">
    <h1>{{name}}</h1>
  </div>

  {{!-- <div class="details_buttons"> --}}
  {{#unless noUser}}
    {{#if owned}}
      <form action="/delete_game/{{id}}" method="post">
        <button class="delete_button" type='submit'>Delete from my games</button>
     </form>
    {{else}}
      <form action="/add_game/{{id}}" method="post" class='button_form'>
        <button class="add_button" type="submit">Add to my games</button>
      </form>
    {{/if}}
  {{/unless}}

  {{#if noUser}}
  <form action="/login" method="get">
        <button class="delete_button" type='submit'>Login to add to my games</button>
     </form>
  {{/if}}

  <div class="ratings_video">
    <div class="ratings">
      <span>
        <h2>{{average_user_rating}}</h2>average user rating
      </span>
      <span>{{num_user_ratings}} user ratings</span>
    </div>

  </div>

  {{!-- </div> --}}

  <div class="details_video">
    <div class="time_players_age_price">
      <div class="time_players_age_price_subDiv">
        <p>Time: {{min_playtime}}-{{max_playtime}}</p>
        <p>Players: {{min_players}}-{{max_players}}</p>
      </div>
      <div class="time_players_age_price_subDiv">
        <p>Minimum age: {{min_age}}</p>
        <p>Price: ${{price}}</p>
      </div>
    </div>
    <div class="video">
      {{#if video}}
      <a href="{{video}}">Click here to watch video</a>
      {{/if}}
    </div>
  </div>
  <div class='description'>Description: {{description}}</div>

</div>