
{{#each game}}
<h2>{{name}}</h2>
<img =
<p>Time: {{min_playtime}}</p>
<p>Min players: {{min_players}}</p>
<p>Description: {{description}}</p>
<ul>

</ul>
<button type='submit'><a href='/movies/{{_id}}/edit'>Edit Movie</a></button>
<br>
{{/each}}