
{{#each game}}
<h2>{{name}}</h2>
<img src="{{image_url}}" alt="Cover picture of {{name}}">
<p>Time: {{min_playtime}}</p>
<p>Min players: {{min_players}}</p>
<p>Description: {{description}}</p>              
{{!-- <button type="submit">Add game to my collection</button> --}}
{{/each}}